/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* This CSS primarily appears on the index page, but is reused on other pages as well */
ul {
  list-style: none;
}

li {
  list-style: none;
}

h1 {
  color: #333775;
  font-size: 32pt;
}

.title {
  padding-top: 25px;
  padding-left: 10px;
}

.list_of_pets {
  text-decoration: none;
  color: #4F3C29;
  font-size: 16pt;
}

.pet_info {
  margin-left: 20px;
  color: #A87F57;
  font-size: 14pt;
}

.new_pet {
  padding-top: 20px;
  padding-left: 10px;
}

.new_pet_link {
  text-decoration: none;
  font-size: 14pt;
  color: #007D0F;
}

/* This CSS applies to the show page for an individual pet */
.bottom_of_show {
  padding-top: 25px;
  margin-left: 15px;
}

.bottom_of_show a {
  text-decoration: none;
  color: #007D0F;
}

/* This CSS applies to the form partial found in _form */
.form {
  margin-left: 25px;
  font-size: 18pt;
  padding: 20px 10px;
}

input {
  margin-left: 15px;
  font-size: 14pt;
  border-radius: 5px;
  border: 1px thin;
}

.form_button {
  padding-top: 15px;
}
/* This element is the link back to the homepage at the top of each page
It is found in the application.html.erb file */
#root {
  text-decoration: none;
  color: #007D0F;
  font-size: 16pt;
  float: right;
}
